{% extends "base.html" %}
{% block content %}
<section class="text-white bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">{{ category.name }}</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">These are the leads under this category</p>
        </div>
        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                    <tr>
                        <th
                            class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-orange-500 rounded-tl rounded-bl">
                            First Name</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-orange-500">
                            Assigned Agent</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- this is an alternate syntax for fetching the leads belonging to the category being referred -->
                    {% for lead in category.lead_set.all %}
                    <tr>
                        <td class="px-4 py-3"><a class="hover:text-yellow-300" href="{% url 'leads:detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }}</a></td>
                        {% if not lead.agent %}
                            <td class="px-4 py-3">No agent assigned</td>
                        {% else %}
                            <td class="px-4 py-3">{{ lead.agent.user.username }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</section>
{% endblock content %}