<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'leads:home' %}">Go back to leads</a>
    <hr>
    <h2>Details of {{ lead.first_name }}</h2>
    <p>Age: {{ lead.age }}</p>
    <p>Agent assigned: {{ lead.agent }}</p>
    <hr>
    <a href="{% url 'leads:update' lead.pk %}">Update</a>
    <a href="{% url 'leads:delete' lead.pk %}">Delete</a>
</body>
</html>